@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Special+Gothic+Condensed+One&display=swap');

:root {
    --Special_Gothic: "Special Gothic Condensed One", sans-serif;
    --Quicksand: "Quicksand", sans-serif;
}

body {
    background-color: #303030;
}

.navbar .nav-link,
.navbar .dropdown-item,
.navbar .form-control {
    font-family: var(--Quicksand);
}

.navbar .btn {
    font-family: var(--Special_Gothic);
}